#root {
  width: 1280px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-dragndrop{
  padding: 10px;
  box-shadow: 0 0 5px #ffdfdf;
  border-radius: 5px;
  overflow: hidden;
}

.card-dragndrop .top{
  text-align: center;
}

.card-dragndrop p{
  font-weight: bold;
  color: var(--text);
}