:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

.footer-container{
  bottom: 0;
  width: 100%;
}

/* :root[data-theme="light"] {
  --text: #111014;
  --background: #ddcfff;
  --primary: #a385e8;
  --accent: #7641f2;
}
:root[data-theme="dark"] {
  --text: #ecebef;
  --background: #0e002e;
  --primary: #341778;
  --accent: #430dbf;
} */


@font-face{
  font-family: "ultrakill";
  src: local("HomeVideo"),
      url("../fonts/HomeVideo.ttf") format("truetype")
}

@font-face{
  font-family: "ultrakillBold";
  src: local("HomeVideoBold"),
      url("../fonts/HomeVideoBold.ttf") format("truetype")
}

@font-face{
  font-family: "pixelElegance";
  src: local("PixelatedEleganceRegular"),
      url("../fonts/PixelatedEleganceRegular.ttf") format("truetype")
}

@font-face{
  font-family: "publicPixel";
  src: local("PublicPixel"),
      url("../fonts/PublicPixel.ttf") format("truetype")
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: auto;
  min-height: 100vh;
  background-color: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-brand{
  font-family: 'ultrakill';
  
}
.secondary-brand{
  font-family: 'ultrakillBold';
}

.main-brand-hover:hover, .main-brand:focus{
  color: #7641f2;
}


@media (prefers-color-scheme: light) {
:root{
  --text: #111014;
  --background: #ddcfff;
  --card-bg: #c1a9f8;
  --primary: #a385e8;
  --accent: #7641f2;
  }
  .main-brand{
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --text: #ecebef;
    --background: #0e002e;
    --card-bg: #453961;
    --primary: #341778;
    --accent: #430dbf;
  }
  .main-brand{
    color: #fff;
  }
}
