/* :root[data-theme="light"]{
    --text: #111014;
    --alt-text: #eee5f8;
    --primary: #ddcfff;
    --card-bg: #c1a9f8;
    --primary: #a385e8;
    --accent: #7641f2;
}

:root[data-theme="dark"] {
  --text: #ecebef;
  --alt-text: #111014;
  --background: #8f84aa;
  --primary: #341778;
  --accent: #430dbf;
} */


body{
    background-color: var(--background);
}
.card{
    background-color: var(--card-bg);
    color: var(--text);
}

table{
    border-radius: .4vw;
    background-color: darkgrey;
    margin: 1.5vw;
    box-shadow: .5vw .5vw gray;
}
/*
td{
    padding: .2vw;
    background-color: gray;
    border-bottom: .1vw solid grey;
    text-align:center;
} */

img{
    height: auto;
    width: 20%;
}

div{
    padding: .2vw;
}

.purchaseBtn{
    background-color: var(--accent);
    color: var(--alt-text);
    padding: 0.3rem;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 2px;
    margin: 0.5rem;
}

.purchaseBtn:hover, .purchaseBtn:focus{
    background-color: var(--alt-text);
    color: var(--accent);
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.div-title{
    display: grid;
    place-items: center;

}