body{
    background-color: #ddcfff;
}
.card{
    background-color: #c1a9f8;
}

table{
    border-radius: .4vw;
    background-color: darkgrey;
    margin: 1.5vw;
    box-shadow: .5vw .5vw gray;
}
/* 
td{
    padding: .2vw;
    background-color: gray;
    border-bottom: .1vw solid grey;
    text-align:center;
} */

img{
    height: auto;
    width: 20%;
}

div{
    padding: .2vw;
}

.purchaseBtn{
    background-color: white;
    color: rgb(0, 133, 133);
}

.purchaseBtn:hover, .purchaseBtn:focus{
    background-color: rgb(0, 133, 133);
    color: white;
}

.div-title{
    display: grid;
    place-items: center;
    
}