body{
    background-color: var(--background);
}

table{
    border-radius: .4vw;
    background-color: darkgrey;
    margin: 1.5vw;
    box-shadow: .5vw .5vw gray;
}

img{
    height: auto;
    width: 20%;
}

div{
    padding: .2vw;
}

.purchaseBtn{
    background-color: var(--accent);
    color: var(--alt-text);
    padding: 0.3rem;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 2px;
}
.secondary-accent{
  background-color: var(--accent-second) !important;
}

.dropdown-content{
  display: none;
  position: absolute;
}

.div-title{
    display: grid;
    place-items: center;

}

.spotify-responsive{
  height: 152px;
}

@media (prefers-color-scheme: light) {
    :root{
      --text: #111014;
      --background: #ddcfff;
      --card-bg: #c1a9f8;
      --primary: #a385e8;
      --accent: #7641f2;
      --accent-second: #b141f2;
      }

      *{
        color: var(--text);
      }

      .card{
        background-color: var(--card-bg);
        color: var(--text);
      }

      p, h5, h1{
        color: var(--text);
      }

      .purchaseBtn:hover, .purchaseBtn:focus{
        background-color: var(--card-bg);
        color: var(--accent);
        transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .secondary-accent{
        background-color: var(--accent-second);
      }
      .secondary-accent:hover, .secondary-accent:focus{
        background-color: #fff;
      }

      .search-bar{
        border-color: var(--accent);
      }
    }
    
    @media (prefers-color-scheme: dark) {
      :root{
        --text: #ecebef;
        --background: #0e002e;
        --card-bg: #453961;
        --primary: #341778;
        --accent: #430dbf;
        --accent-second: #b141f2;
      }

      *{
        color: var(--text);
      }

      .card{
        background-color: var(--card-bg);
        color: var(--text);
      }

      p, h5, h1{
        color: var(--text);
      }

      .purchaseBtn:hover, .purchaseBtn:focus{
        background-color: var(--text);
        color: var(--accent);
        transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .secondary-accent{
        background-color: var(--accent-second);
      }
      .secondary-accent:hover, .secondary-accent:focus{
        background-color: #fff;
      }

      .search-bar{
        border-color: var(--accent);
      }
    }