*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "ultrakill";
    src: local("HomeVideo"),
        url("../fonts/HomeVideo.ttf") format("truetype")
}

@font-face{
    font-family: "ultrakillBold";
    src: local("HomeVideoBold"),
        url("../fonts/HomeVideoBold.ttf") format("truetype")
}

@font-face{
    font-family: "pixelElegance";
    src: local("PixelatedEleganceRegular"),
        url("../fonts/PixelatedEleganceRegular.ttf") format("truetype")
}

@font-face{
    font-family: "publicPixel";
    src: local("PublicPixel"),
        url("../fonts/PublicPixel.ttf") format("truetype")
}


.ba {
    border-style: solid;
    border-width: 3px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--white-20 {
    border-color: rgba(255, 255, 255, .2);
}

.b--white-10 {
    border-color: rgba(255, 255, 255, .1);
}

a{
    color: var(--accent);
}

.br-pill {
    border-radius: 9999px;
    border: 4px solid;
}

.dib {
    display: inline-block;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.h1 {
    height: 1rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w1 {
    width: 1rem;
}

.white-70 {
    color: rgba(255, 255, 255, .7);
}

.white {
    color: #fff;
}

.hover-black:hover {
    color: #000;
}

.hover-black:focus {
    color: #000;
}

hover-black-pill:hover{
    color: #000;
}

hover-black-pill:focus{
    color: #000;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.hover-bg-white:hover {
    background-color: #fff;
}

.hover-bg-white:focus {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mr3 {
    margin-right: 1rem;
}

.no-underline {
    text-decoration: none;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    width: 100%;
    margin-top: 30px;
}

header a{
    border: none;
}

.nav-container{
    align-items: center;
}

.nav-container a{
    font-weight: 750;
}

.nav-container img{
    width: 50px;
}

#nav-logo {
    transition: linear 200ms;
}

#nav-logo:hover, #nav-logo:focus{
    transform: rotate(-10deg);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
    filter: drop-shadow(0 0 0.75rem var(--accent));
}

nav a{
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
}

header .nav-btn{
    padding: 5px;
    border: none;
    outline: none;
    color: var(--text);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.profile-button{
    padding: 0;
    margin-right: 0;
}

.profile-button img{
    border-radius: 2px;
    border: var(--text) solid 2px;
    transition: linear 200ms;
}

.profile-button img:hover, .profile-button img:focus{
    transform: rotate(-10deg);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
    filter: drop-shadow(0 0 0.75rem var(--accent));
}

.main-nav-container{
    justify-content: end;
}

.scratch-text{
    font-family: ultrakill;
    transition: linear 200ms;
}

.scratch-text:hover, .scratch-text:focus{
    transition: cubic-bezier(.17,1.61,.32,-0.59) 400ms;
    color: #fff;
    filter: drop-shadow(0 0 0.75rem #fff);
}

.cat-sleeping:hover, .cat-sleeping:focus{
    animation: purring 1s infinite;
}

#nav-logo{
    animation: levitating 2s infinite;
}

@keyframes levitating {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

@keyframes purring {
    0% {transform: translate(0);}
    2%{transform: translate(-1px,1px);}
    4%{transform: translate(-1px,-1px);}
    6%{transform: translate(1px,1px);}
    8%{transform: translate(1px,-1px);}
    10%{transform: translate(-1px,1px);}
    12%{transform: translate(-1px,1px);}
    14%{transform: translate(-1px,-1px);}
    16%{transform: translate(1px,1px);}
    18%{transform: translate(1px,-1px);}
    20%{transform: translate(-1px,1px);}
    22%{transform: translate(-1px,-1px);}
    24%{transform: translate(1px,1px);}
    26%{transform: translate(1px,-1px);}
    28%{transform: translate(-1px,1px);}
    30%{transform: translate(-1px,-1px);}
    
    
    31%{transform: translate(0px);}
    59%{transform: translate(0px);}
    
    60%{transform: translate(-1px,1px);}
    62%{transform: translate(-1px,-1px);}
    64%{transform: translate(1px,1px);}
    66%{transform: translate(1px,-1px);}
    68%{transform: translate(-1px,1px);}
    70%{transform: translate(-1px,1px);}
    72%{transform: translate(-1px,-1px);}
    74%{transform: translate(1px,1px);}
    76%{transform: translate(1px,-1px);}
    78%{transform: translate(-1px,1px);}
    80%{transform: translate(-1px,-1px);}
    82%{transform: translate(1px,1px);}
    84%{transform: translate(1px,-1px);}
    86%{transform: translate(-1px,1px);}
    88%{transform: translate(-1px,-1px);}
    90%{transform: translate(1px,1px);}
    92%{transform: translate(1px,-1px);}
    94%{transform: translate(-1px,1px);}
    96%{transform: translate(-1px,-1px);}
    98%{transform: translate(1px,1px);}
    100%{transform: translate(0);}
}

@media only screen and (max-width: 1024px){
    nav{
        z-index: 1
    }
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    .main-nav-container{
        justify-content: center;
        align-content: center;
    }

    .nav-container{
        flex-direction: column;
        height: 25rem;
        justify-content: space-around;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--card-bg);
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 750ms;
        transform: translateY(-100vh);
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }
}
.black-icon-footer{
    width: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: cubic-bezier(0.68, 0.55, 0.265, 1.55) 750ms;
}
.black-icon-footer:hover, .black-icon-footer:focus{
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
    transform: rotate(15deg);
    filter: drop-shadow(0 0 0.75rem var(--accent));
}

@media only screen and (max-width: 426px){
    .scratch-text{
        display: none;
    }
}

@media screen and (min-width: 30em) {
    .mr4-ns {
        margin-right: 2rem;
    }
}

@media (prefers-color-scheme: light) {
    :root{
      --text: #111014;
      --background: #ddcfff;
      --card-bg: #c1a9f8;
      --primary: #a385e8;
      --accent: #7641f2;
      /* --accent: #430dbf; */
      }
    
      .card{
        background-color: var(--card-bg);
        color: var(--text);
      }
      p, h5, h1{
        color: var(--text);
      }
      main-nav-container{
        background-color: var(--background);
      }
      .black-icon:hover{
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
        transform: rotate(5deg);
        filter: drop-shadow(0 0 0.75rem var(--accent));
    }

    #nav-logo:hover, #nav-logo:focus{
        filter: drop-shadow(0 0 0.75rem var(--accent));
    }
    
    .profile-button img:hover, .profile-button img:focus{
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
        transform: rotate(5deg);
        filter: drop-shadow(0 0 0.75rem var(--accent));
    }

}
    
    @media (prefers-color-scheme: dark) {
      :root{
        --text: #ecebef;
        --background: #0e002e;
        --card-bg: #453961;
        --primary: #341778;
        --accent: #7641f2;
        /* --accent: #430dbf; */
      }
    
      .card{
        background-color: var(--card-bg);
        color: var(--text);
      }
      p, h5, h1{
        color: var(--text);
      }
      main-nav-container{
        background-color: var(--background);
      }

      .hover-black:hover {
        color: #fff;
    }
    
    .hover-black:focus {
        color: #fff;
    }

    .hover-white:hover {
        color: #000;
    }
    
    .hover-white:focus {
        color: #000;
    }
    .bg-animate, .bg-animate:hover, .bg-animate:focus {
        transition: background-color .15s ease-in-out;
    }
    
    .black-icon{
        filter: invert();
        -webkit-filter: invert();
    }
    .black-icon:hover{
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 400ms;
        transform: rotate(5deg);
        filter: drop-shadow(0 0 0.75rem var(--text));
    }
    #nav-logo:hover, #nav-logo:focus{
        filter: drop-shadow(0 0 0.75rem var(--text));
    }

    .profile-button img:hover, .profile-button img:focus{
        transform: rotate(10deg);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms;
        filter: drop-shadow(0 0 0.75rem var(--text));
    }
}