*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "ultrakill";
    src: local("HomeVideo"),
        url("../fonts/HomeVideo.ttf") format("truetype")
}

@font-face{
    font-family: "ultrakillBold";
    src: local("HomeVideoBold"),
        url("../fonts/HomeVideoBold.ttf") format("truetype")
}

@font-face{
    font-family: "pixelElegance";
    src: local("PixelatedEleganceRegular"),
        url("../fonts/PixelatedEleganceRegular.ttf") format("truetype")
}

@font-face{
    font-family: "publicPixel";
    src: local("PublicPixel"),
        url("../fonts/PublicPixel.ttf") format("truetype")
}


.ba {
    border-style: solid;
    border-width: 3px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--white-20 {
    border-color: rgba(255, 255, 255, .2);
}

.b--white-10 {
    border-color: rgba(255, 255, 255, .1);
}

a{
    color: var(--accent);
}

.br-pill {
    border-radius: 9999px;
    border: 3px solid;
}

.dib {
    display: inline-block;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.h1 {
    height: 1rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w1 {
    width: 1rem;
}

.white-70 {
    color: rgba(255, 255, 255, .7);
}

.white {
    color: #fff;
}

.hover-black:hover {
    color: #000;
}

.hover-black:focus {
    color: #000;
}

hover-black-pill:hover{
    color: #000;
}

hover-black-pill:focus{
    color: #000;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.hover-bg-white:hover {
    background-color: #fff;
}

.hover-bg-white:focus {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mr3 {
    margin-right: 1rem;
}

.no-underline {
    text-decoration: none;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
}

.nav-container{
    align-items: center;
}

nav a{
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
}

header .nav-btn{
    padding: 5px;
    border: none;
    outline: none;
    color: var(--text);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.main-nav-container{
    justify-content: end;
}

@media only screen and (max-width: 1024px){
    nav{
        z-index: 1
    }
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    .main-nav-container{
        justify-content: center;
        align-content: center;
    }

    .nav-container{
        flex-direction: column;
        height: 25rem;
        justify-content: space-around;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--card-bg);
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) 750ms;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 426px){
    .scratch-text{
        display: none;
    }
}

@media screen and (min-width: 30em) {
    .mr4-ns {
        margin-right: 2rem;
    }
}

@media (prefers-color-scheme: light) {
    :root{
      --text: #111014;
      --background: #ddcfff;
      --card-bg: #c1a9f8;
      --primary: #a385e8;
      --accent: #7641f2;
      /* --accent: #430dbf; */
      }
    
      .card{
        background-color: var(--card-bg);
        color: var(--text);
      }
      p, h5, h1{
        color: var(--text);
      }
      main-nav-container{
        background-color: var(--background);
      }
    
    }
    
    @media (prefers-color-scheme: dark) {
      :root{
        --text: #ecebef;
        --background: #0e002e;
        --card-bg: #453961;
        --primary: #341778;
        --accent: #7641f2;
        /* --accent: #430dbf; */
      }
    
      .card{
        background-color: var(--card-bg);
        color: var(--text);
      }
      p, h5, h1{
        color: var(--text);
      }
      main-nav-container{
        background-color: var(--background);
      }

      .hover-black:hover {
        color: #fff;
    }
    
    .hover-black:focus {
        color: #fff;
    }

    .hover-white:hover {
        color: #000;
    }
    
    .hover-white:focus {
        color: #000;
    }
    .bg-animate, .bg-animate:hover, .bg-animate:focus {
        transition: background-color .15s ease-in-out;
    }
    
    .black-icon{
        filter: invert();
        -webkit-filter: invert();
    }
    .black-icon:hover{
        size: 110%;
    }
    }